{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h2 class="text-center">Технологии, на которых растёт этот сайт</h2>
    <hr>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center" >
          <b>Python</b>
        </li>
        <li class="list-group-item text-center">
          <b>Django</b>
        </li>
        <li class="list-group-item text-center" >
          <b>HTML</b><i> (куда ж без него)</i>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Здесь будет рассказано, 
        как круто умею пользоваться теми штуками, 
        которые слева написаны:)
      </p>
    </article>
  </div>
{% endblock %}